.SignedInMainWindowMainRow{
    height: 100%;
    
}
.SignedInMainWindowMainCol{
    background: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: saturate(140%) blur(40px) !important;
    color: rgba(159, 170, 233, 0.733);
    max-width: 10% !important;
}