.WelcomeCardMainDiv {
   
    margin : 0px 50px;
    font-family: Nunito;
    font-weight: 700 !important;
    font-size: 20px;
    background: transparent !important;
    color: rgb(129, 168, 199);
}
.FirstCard {
    border-bottom: 1px solid rgb(185, 224, 224) !important;
}
.WelcomeCard {
    background: rgba(20, 15, 15, 0.795) !important;
    backdrop-filter: saturate(140%) blur(40px) !important;
}

.WelcomeCardTitle {
    font-weight: 800 !important;
    font-size: 60px !important;
}

.WelcomeCardSubTitle {
    font-weight: 800 !important;
    font-size: 40px !important;
    color: rgb(224, 64, 77) !important;
}
.BasicHR{
    border: 1px solid white;
}

.ExplenationMainDiv {
    text-align: left;
}

.ExplenationRow {
    /* margin: 15px; */
    margin:15px 25px 15px !important;
}

.ExplenationListRow {
    margin-left: 30px !important;
}