@font-face {
    font-family: Nunito;
    src: url('../../Style/Nunito-ExtraLight.ttf');
}

.SignInModalHeader {
    justify-content: center !important;
}

.SignInModalTitle {
    font-family: Nunito;
    font-weight: 800 !important;
    color: white;
    /* font-size: 10px !important; */
}


.SignInModalMainDiv .modal-90w .modal-content {
    margin-top: 150px;
    background: transparent !important;
    backdrop-filter: saturate(140%) blur(40px) !important;
    
}