.BackToSystemsButton{
    font-size: 40px !important;
    background-color: transparent !important;

}
.BackToSystemsButtonRow{
    padding-left: 20px;
}

.BackToSystemsButtonDiv{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 25px;
    font-family: Nunito;
    font-weight: 800;
    user-select: none;
    cursor: pointer;
    background-color: rgba(223, 50, 50, 0.678);

}
.AddNewMsRow .bi-file-earmark-plus{
    font-size: 30px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    background-color: rgba(76, 139, 68, 0.952);

}
.AddNewMsRow{
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 5%;
   
}
.AddNewMsRow  :hover{
    background-color: rgb(32, 139, 18);
    border: 1px solid rgb(19, 85, 11);

}
.AddNewMsRow  :active{
    background-color: rgb(19, 85, 11);
    border: 1px solid rgb(19, 85, 11);

}
.backToSystemChoosingArrow {
    font-size: 2rem !important;
    border: 2.5px solid #fcfdfd;
    background-color: #fcfdfd;
    border-radius: 30px;
    margin-top: 1%;
}
.backToSystemChoosingArrowDiv{
    margin-top: 10px;
}
.backToSystemChoosingArrowDiv :hover{
    background-color:  #c5c9c9;
    cursor: pointer;
    color: #24282c;
}
.backToSystemChoosingArrowDiv :active{
    background-color:  #9fa1a1;

}

