@font-face {
    font-family: Nunito;
    src: url('../../Style/Nunito-ExtraLight.ttf');
}

.SignUpModalHeader {
    justify-content: center !important;
}



.SignUpModalTitle {
    font-family: Nunito;
    font-weight: 800 !important;
    color: white;
    /* font-size: 10px !important; */
}
.SignUpForm{
    border-radius: 2.25rem !important;
    margin-bottom: 15px;
}

.SignUpModalMainDiv .modal-90w .modal-content {
    margin-top: 150px;
    background: transparent !important;
    backdrop-filter: saturate(140%) blur(40px) !important;
    
}