@font-face {
    font-family: Nunito;
    src: url('../../Style/Nunito-ExtraLight.ttf');
}

.SignUpModalHeader {
    justify-content: center !important;
}
.SignUpModalTitleRow{
    display: flow-root !important;
}
.SignUpFormRows{
    margin-bottom: 15px;
}
.SignUpErrorTagSpan{
    color: rgb(245, 51, 51);
    margin-left: 5px;
}
.SignUpModalTitle {
    font-family: Nunito;
    font-weight: 800 !important;
    color: white;
    text-align: -webkit-center !important;
    /* font-size: 10px !important; */
}
.SignUpForm{
    border-radius: 2.25rem !important;
}

.SignUpModalMainDiv .modal-90w .modal-content {
    margin-top: 150px;
    background: transparent !important;
    backdrop-filter: saturate(140%) blur(40px) !important;
    
}
.BackSignArrowDiv {
    width: fit-content !important;

    align-self: center !important;
    color: white;
    cursor: pointer;
}
.BackSignArrowDiv :active{
    border: 1px solid rgb(45, 96, 206) !important;
    border-radius: 30px;

    background-color:rgb(45, 96, 206) !important;
}
